mj-section
    mj-column(width="100%")
        mj-text(padding="0" align="center") Meural Canvas
        mj-text(padding="0" align="center") Un écrin pour visualiser vos NFT
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/illustration.jpg" alt="")/
mj-section
    mj-column(width="100%")
        mj-text(padding="0" align="center") Accédez à l'univers d'Async Art depuis votre tableau Meural
        mj-text(padding="0" align="center") Les propriétaires d'un tableau numérique Meural peuvent maintenant découvrir un nouveau monde d'oeuvres d'art NFT disponibles sur la plateforme Async Art. Découvrez des oeuvres d'art dynamiques uniques en leur genre, programmables et capables de réagir à l'heure du jour, à la météo ... au gré de vos envies.
        mj-text(padding="0" align="center") Faites l'expérience du Crypto Art d'une manière qui n'a jamais été possible auparavant.
        mj-text(padding="0" align="center") Et pour ceux qui ne possèdent pas encore de tableau d'art connecté Meural, profitez dès maintenant des offres en cours !
        mj-button Découvrir