mj-section
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/interfaceIntuitive.jpg" alt="")/
        mj-image(padding="0" width="700px" src="./images/miseJour.jpg" alt="")/
mj-section
    mj-column(width="33.333333%")
        mj-image(padding="0" width="214.41px" src="./images/mc327.gif" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Tableau d'Art Connecté
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Meural 27" (MC327)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Jusqu'à -300 €
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Donnez du style à son intérieur avec une toile d'Art moderne et épuré.
        mj-button(mj-class="bgM") J'en profite
    mj-column(width="33.333333%")
        mj-image(padding="0" width="214.41px" src="./images/mc321.gif" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Tableau d'Art Connecté
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Meural 21" (MC321)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Jusqu'à -200 €
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Donnez du style à son intérieur avec une toile d'Art moderne et épuré.
        mj-button(mj-class="bgM") J'en profite
    mj-column(width="33.333333%")
        mj-image(padding="0" width="214.41px" src="./images/mc315.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Cadre Photo Numérique
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Meural (MC315)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") -50 €
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Pour partager les moments de votre vie instantanément.
        mj-button(mj-class="bgM") J'en profite