mj-section
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/interfaceIntuitive.jpg" alt="")/
        mj-image(padding="0" width="700px" src="./images/miseJour.jpg" alt="")/
mj-section
    mj-column(width="33.333333%")
        mj-image(padding="0" width="214.41px" src="./images/mc327.gif" alt="")/
        mj-text(padding="0" align="center") Tableau d'Art Connecté
        mj-text(padding="0" align="center") Meural 27" (MC327)
        mj-text(padding="0" align="center") Jusqu'à -300 €
        mj-text(padding="0" align="center") Donnez du style à son intérieur avec une toile d'Art moderne et épuré.
        mj-button J'en profite
    mj-column(width="33.333333%")
        mj-image(padding="0" width="214.41px" src="./images/mc321.gif" alt="")/
        mj-text(padding="0" align="center") Tableau d'Art Connecté
        mj-text(padding="0" align="center") Meural 21" (MC321)
        mj-text(padding="0" align="center") Jusqu'à -200 €
        mj-text(padding="0" align="center") Donnez du style à son intérieur avec une toile d'Art moderne et épuré.
        mj-button J'en profite
    mj-column(width="33.333333%")
        mj-image(padding="0" width="214.41px" src="./images/mc315.jpg" alt="")/
        mj-text(padding="0" align="center") Cadre Photo Numérique
        mj-text(padding="0" align="center") Meural (MC315)
        mj-text(padding="0" align="center") -50 €
        mj-text(padding="0" align="center") Pour partager les moments de votre vie instantanément.
        mj-button J'en profite