mj-section
    mj-column
        mj-image(src="./images/interfaceIntuitive.jpg" alt="")/
        mj-image(src="./images/miseJour.jpg" alt="")/
mj-section
    mj-column
        mj-image(src="./images/mc327.gif" alt="")/
        mj-text Tableau d'Art Connecté
        mj-text Meural 27" (MC327)
        mj-text Jusqu'à -300 €
        mj-text Donnez du style à son intérieur avec une toile d'Art moderne et épuré. 
        mj-button J'en profite
    mj-column
        mj-image(src="./images/mc321.gif" alt="")/
        mj-text Tableau d'Art Connecté
        mj-text Meural 21" (MC321)
        mj-text Jusqu'à -200 €
        mj-text Donnez du style à son intérieur avec une toile d'Art moderne et épuré. 
        mj-button J'en profite
    mj-column
        mj-image(src="./images/mc315.jpg" alt="")/
        mj-text Tableau d'Art Connecté
        mj-text Meural 15" (MC315)
        mj-text Jusqu'à -100 €
        mj-text Donnez du style à son intérieur avec une toile d'Art moderne et épuré. 
        mj-button J'en profite